.btn-round {
    border: none;
    border-bottom: .1em solid var(--shadow);
    border-right: .05em solid var(--shadow);
    outline: none;
    border-radius: 100vmax;
    aspect-ratio: 1/1;
    padding: 1em;
}

.btn-red {
  background: radial-gradient(hsl(0 75% 55%), hsl(0 75% 45%));
  color: white;
}

.btn-blue {
  background: radial-gradient(hsl(120 75% 55%), hsl(120 75% 45%));
  color: white;
}

.btn-switch {
  width: min(95vw, 75ch);
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;
  background-color: hsl(0 0% 20%);
  box-shadow: 0 0 .25rem var(--shadow);
  border-radius: 2rem;
  border-bottom: .25rem solid var(--shadow-light);
  border-right: .25rem solid var(--shadow-light);
}

.btn-switch button {
  width: 40%;
  font-size: 3rem;
}