.form {
  width: min(90vw, 40ch);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2.5rem;

  background-color: var(--bg-secondary);
  border-radius: var(--border-r);
  box-shadow: 0 .25rem .75rem var(--shadow);
}

.validation-form input:invalid {
  border-color: var(--error);
}

.validation-form input:valid {
  border-color: var(--success);
}

.btn-fb {
  background: hsl(220 50% 40%);
}

.btn-google {
  background: hsl(0 50% 45%);
}