.form {
  width: min(90vw, 40ch);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2.5rem;

  background-color: var(--bg-secondary);
  border-radius: var(--border-r);
  box-shadow: 0 .25rem .75rem var(--shadow);
}

.validation-form input:invalid {
  background-color: var(--bg-error);
}

.validation-form input:valid {
  background-color: var(--bg-success);
}

.validation-form .invalidation-shake:invalid:not(:focus) {
  animation: shake .3s;
}

.btn-fb {
  background: hsl(220 50% 40%);
}

.btn-google {
  background: hsl(0 50% 45%);
}

@keyframes shake {
  20% {
    translate: .25rem;
  }
  40% {
    translate: -.2rem;
  }
  60% {
    translate: .15rem;
  }
  80% {
    translate: -.1rem;
  }
}