:root {
    --bg-primary: hsl(220 20% 93%);
    --bg-secondary: hsl(0 0% 100%);
    --clr-primary: hsl(0 0% 15%);
    --clr-secondary: hsl(0 0% 30%);
    --clr-title: hsl(0 0% 0%);
    --glass-primary: hsl(220 20% 93% / .75);
    --glass-secondary: hsl(0 0% 100% / .75);
    --accent: hsl(185 50% 55%);
    --accent-dark: hsl(185 50% 40%);
    --shadow: hsl(0 0% 0% / .6);
    --shadow-light: hsl(0 0% 100% / .5);

    --border-r: .15rem;
    --border-w: .075em;
    --padding: .5rem 1rem;
    --trs: 200ms;
    --header-h: 3rem;
    --view-h: calc(100vh - var(--header-h));

    --ff-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body {
    font-family: var(--ff-primary);
    background-color: var(--bg-primary);
    color: var(--clr-primary);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    width: 100%;
    min-height: 100vh;
    padding-top: var(--header-h);
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--clr-title);
}

h1, h2, h3, h4, h5, h6, p, input, textarea, button {
    padding: var(--padding);
}

button {
    border: none;
    outline: none;
    position: relative;
    isolation: isolate;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
    box-shadow: 0 0 .2em var(--shadow), inset 0 0 1em var(--shadow);
    display: grid;
    place-content: center;
}

button:active {
    box-shadow: inset 0 0 1em var(--shadow);
}

button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    z-index: -1;
    opacity: 0;
    transition: opacity var(--trs);
}

button:hover::after {
    opacity: .15;
}

input {
    outline: none;
    border: var(--border-w) solid currentColor;
    border-radius: var(--border-r);
}

input:focus {
    border-color: var(--accent);
}