.polls-container {
  width: min(90ch, 95vw);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-secondary);
  padding: 2rem;
  border-radius: var(--border-r);
  box-shadow: 0 .5rem 1.25rem var(--shadow);
}

.polls-column {
  display: flex;
  flex-direction: column;
}

.polls-row {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr;
  cursor: pointer;
}

.polls-row:hover {
  background-color: hsl(0 0% 92%);
}

.polls-row:not(:first-child) {
  border-bottom: .1rem solid black;
}

.polls-row > * {
  padding: var(--padding);
}

.polls-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.polls-heading {
  background-color: hsl(0 0% 70%);
}