.page {
  width: 100%;
  min-height: var(--view-h);
  display: grid;
  place-content: center;
}

.box-bg {
  position: relative;
  isolation: isolate;
}

.box-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("../pictures/boxes.svg");
  background-size: cover;
  filter: blur(.6rem);
}

.centered-text {
  text-align: center;
}