.page {
  width: 100%;
  min-height: var(--view-h);
  display: grid;
  place-content: center;
}

.page-content {
  min-height: var(--view-h);
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
}

.text-container {
  width: min(65ch, 95vw);
}

.box-bg {
  position: relative;
  isolation: isolate;
}

.box-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("../pictures/boxes.svg");
  background-size: cover;
  filter: blur(.6rem);
}

.centered-text {
  text-align: center;
}

.icon {
  background-size: contain !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  aspect-ratio: 1/1 !important;
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}

.link {
  color: var(--accent-dark);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color var(--trs);
  text-decoration: none;
  width: fit-content;
}

.link:hover {
  color: var(--accent);
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .125em;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--trs) ease-in-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.highlighted {
  box-shadow: 0 0 0 100vmax var(--shadow) !important;
}

.error-msg, .success-msg {
  text-align: center;
  border-radius: var(--border-r);
}

:is(.error-msg, .success-msg):empty {
  display: none;
}

.error-msg {
  background-color: var(--error);
  color: white;
}

.success-msg {
  background-color: var(--success);
  color: white;
}