.poll-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.question-container {
  background-color: var(--bg-secondary);
  border-radius: var(--border-r);
  box-shadow: 0 0 .2rem var(--shadow);
  font-size: clamp(100%, 2vw, 200%);
  padding: 1em 1.5em;
  max-width: 95vw;
}

.btn-red {
  background: radial-gradient(hsl(0 75% 57%), hsl(0 75% 47%));
}

.btn-blue {
  background: radial-gradient(hsl(120 75% 55%), hsl(120 75% 45%));
}

.switch {
  width: min(95vw, 75ch);
  aspect-ratio: 2/1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(0 0% 20%);
  box-shadow: 0 0 .25rem var(--shadow);
  border-radius: 2rem;
  border-bottom: .4rem solid var(--shadow);
}

.switch-btn {
  width: 30%;
  aspect-ratio: 1/1;
  font-size: 3rem;
  margin: auto !important;

  border-radius: 100vmax;
  box-shadow: 0 0 .2rem var(--shadow), inset 0 0 .2rem var(--shadow);
}

.switch-btn:active {
  transform: scale(.97);
  box-shadow: inset 0 0 .2rem var(--shadow);
}